<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What Day Is It Today?</title>
</head>
<body>
    <h1>What day is it Today?</h1>
    <p><%= kindOfDay %></p>
</body>
</html>